#

In [21]:
x,y=3,12.5
print("the rabbit is",x)
print("the rabbit is ",x,"years old")
print(y, "is averge")
print(x,"*",y)
print(y,"*",x, " is ", x**y)

the rabbit is 3
the rabbit is  3 years old
12.5 is averge
3 * 12.5
12.5 * 3  is  920482.8132252117

In [35]:
a,b,c,d,e,f,g,h,i,j=0,1,2,3,4,5,6,7,8,9
print("number\tsqare\tcube")
print(a,"\t",a**2,"\t",a**3)
print(b,"\t",b**2,"\t",b**3)
print(c,"\t",c**2,"\t",c**3)
print(d,"\t",d**2,"\t",d**3)
print(e,"\t",e**2,"\t",e**3)
print(f,"\t",f**2,"\t",f**3)
print(g,"\t",g**2,"\t",g**3)
print(h,"\t",h**2,"\t",h**3)
print(i,"\t",i**2,"\t",i**3)
print(j,"\t",j**2,"\t",j**3)

number	sqare	cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125
6 	 36 	 216
7 	 49 	 343
8 	 64 	 512
9 	 81 	 729

In [41]:
p,q=5,7
p=int(p*q)
q=int(p/q)
p=int(p/q)
print(p,q)

7 5

In [14]:
x=int(input("enter your first number:"))
y=int(input("enter your second number: "))
print("the sum of two numbers is: ", x+y)
print("the product of two numbers is: ", x*y)
print("the division of two numbers is: ", x/y)
print("the quotient of two numbers is: ", x%y)
print("the remainder of two numbers is: ", x//y)
print("the subtraction of two numbers is: ",x-y)

enter your first number: 70
enter your second number:  50

the sum of two numbers is:  120
the product of two numbers is:  3500
the division of two numbers is:  1.4
the quotient of two numbers is:  20
the remainder of two numbers is:  1
the subtraction of two numbers is:  20

In [1]:
print("HHHHH\nHHHH\nHHH\nHH\nH")

HHHHH
HHHH
HHH
HH
H

In [3]:
12345%10

5

In [15]:
apao=int(input("eneter your number: "))
p1=apao%10
p2=(apao%100)//10
p3=(apao%1000)//100
p4=(apao%10000)//1000
p5=(apao%100000)//10000
print(p1,p2,p3,p4,p5)

eneter your number:  76589

9 8 5 6 7

In [51]:
A=[1,2,3,"ali","and",2.3,3.5]
A.insert(2,"NOBODY")
A.append("last option")
A.pop()
print (A)

[1, 2, 'NOBODY', 3, 'ali', 'and', 2.3, 3.5]

In [55]:
A.clear()
print(A)

[]

In [59]:
cup = []
print(cup)

[]

In [95]:
b=[]
A=[22,23,"hello","pop"]
print(len(A))
del A[2]

4

In [85]:
A

[22, 23, 'hello', 'pop']

In [87]:
del[A]

In [110]:
print("*********      *          ***\n*\t*     ***        *    *\n*\t*    *****\n*\t*       *        *     *\n*********      *")

*********      *          ***
*	*     ***        *    *
*	*    *****
*	*       *        *     *
*********      *

In [80]:
x=int(input("enter your first number"))
y=int(input("enter your second number"))
z=int(input("enter your third number"))
A=[x,y,z]
print()
A.sort()
if A[0]**2+A[1]**2==A[2]**2:
    print("equal")
else:
    print("not equal")

enter your first number 12
enter your second number 13
enter your third number 14

[12, 13, 14]
[12, 13, 14]
not equal

In [193]:
print("*********      *         ***            *\n*\t*     ***      *     *       *     *\n*\t*    *****     *     *      *       *\n*\t*      *       *     *       *     *\n*********      *         ***            *")

*********      *         ***            *
*	*     ***      *     *       *     *
*	*    *****     *     *      *       *
*	*      *       *     *       *     *
*********      *         ***            *

In [211]:
m={1,2,3,4,'ali'}
m.discard(3)
print(m)

{1, 2, 4, 'ali'}

In [215]:
m.pop()
print(m)

{4, 'ali'}

In [5]:
list=['ali','hassan','kazim','zain','asghar','hussain']
print(list)
list.append("sageer")
print(list)
list.sort()
print(list)
list.index("zain")

['ali', 'hassan', 'kazim', 'zain', 'asghar', 'hussain']
['ali', 'hassan', 'kazim', 'zain', 'asghar', 'hussain', 'sageer']
['ali', 'asghar', 'hassan', 'hussain', 'kazim', 'sageer', 'zain']

6

In [23]:
set={2,3,4,5}
_set={4,3,5,6}
set.add(8)
_set.add(8)
print(set)
print(_set)
union=set.union(_set)
intersection=set.intersection(_set)
difference=set.difference(_set)
print(union)
print(intersection)
print(difference)

{2, 3, 4, 5, 8}
{3, 4, 5, 6, 8}
{2, 3, 4, 5, 6, 8}
{8, 3, 4, 5}
{2}

In [8]:
for i in range(4):
    print ("hello world")

hello world
hello world
hello world
hello world

In [17]:
n1 = int(input("input your 1st Number"))
n2 = int(input("input your 2nd Number"))
n3 = int(input("input your 3rd Number"))
small = 0
large = 0
if n1<n2<n3 or n1<n3<n2:
    small = n1
if n2<n1<n3 or n2<n3<n1:
    small = n2
if n3<n1<n2 or n3<n2<n1:
    small = n3
if n1>n2>n3 or n1>n3>n2:
    large = n1
if n2>n1>n3 or n2>n3>n1:
    large = n2
if n3>n1>n2 or n3>n2>n1:
    large = n3
print("smallest is", small)
print("largest is ", large)

input your 1st Number 12
input your 2nd Number 13
input your 3rd Number 14

smallest is 12
largest is  14

In [23]:
n_1 = int(input("input your 1st Number"))
n_2 = int(input("input your 2nd Number"))
n_3 = int(input("input your 3rd Number"))
if n_1**2 == n_2**2 + n_3**2 or n_2**2 == n_1**2 + n_3**2 or n_3**2 == n_2**2 + n_1**2:
    print("sides of right angle triangle")
else:
    print("not sides of right angle triangle")

input your 1st Number 5
input your 2nd Number 3
input your 3rd Number 6

not sides of right angle triangle

In [37]:
score = float(input("enter your score"))
if 1>score>=0.9:
    print("A grade")
if 1>score>=0.9:
    print("A grade")
if 1>score>=0.8:
    print("B grade")
if 1>score>=0.7:
    print("C grade")
if 1>score<0.6:
    print("Fail")
else:
    print("error")

enter your score 0.5

Fail

In [39]:
total_values = int(input("How many values do you want to enter? "))
values = []
for i in range(total_values):
    value = float(input(f"Enter value {i + 1}: "))
    values.append(value)
total_sum = sum(values)
smallest_value = min(values)
print(f"Sum of the values: {total_sum}")
print(f"Smallest value: {smallest_value}")

How many values do you want to enter?  5
Enter value 1:  33
Enter value 2:  22
Enter value 3:  11
Enter value 4:  44
Enter value 5:  55

Sum of the values: 165.0
Smallest value: 11.0

In [57]:
print("number\tfactorial")
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result
number = 1
while number <= 5:
    print(f"{number} \t {factorial(number)}")
    number += 1

number	factorial
1 	 1
2 	 2
3 	 6
4 	 24
5 	 120

In [59]:
random = 8
guess = 2
print('i have guess a number between 1 to 10')
while guess != random:
    guess = int(input('guess'))
    if guess == random:
        print('tha is correct, you guessed it')
    else:
        print('try again')

i have guess a number between 1 to 10

guess 5

try again

guess 3

try again

guess 2

try again

guess 8

tha is correct, you guessed it

In [67]:
n1 = int(input('enter your 1st number'))
n2 = int(input('enter your 2nd number'))
if n1<n2:
    small, large = n1, n2
elif n1>n2:
    small, large = n2, n1
while small != 0:
    r = large % small
    large, small = small,r
print('the GCD of given number', n1, 'and', n2, 'is', large)

enter your 1st number 25
enter your 2nd number 10

the GCD of given number 25 and 10 is 5

In [76]:
n = int(input('enter your number'))
i = 2
prime = True
while i<n:
    if n%2 == 0:
        prime = False
        break
    i  += 1
if prime:
        print('is prime')
else:
        print('is not prime')

enter your number 8

is not prime

In [ ]:
p = 1000
print('all four digit angstorm numbers are')
while n<10000:
    p1 = n%10
    p2 = (n%100)//10
    p3 = (n%1000)//100
    p4 = n//1000
    if p1**4 + p2**4 + p3**4 + p4**4 == n:
        print(n)

In [ ]:
for i in range(1,101):
    print(i, 'copy-right issue')

In [11]:
m=[1,4,5,6]
while i in m:
    return (m**2)

SyntaxError: 'return' outside function (806777579.py, line 3)

In [1]:
import numpy as np
np.nan

nan

In [3]:
type(np.nan)

float

In [5]:
import numpy as np
x = np.nan
print(np.isnan(x))  # Output: True

True

In [7]:
import numpy as np
array = np.array([1, 2, np.nan, 4, 5])
print(array)

[ 1.  2. nan  4.  5.]

In [9]:
import numpy as np
array = np.array([1, 2, np.nan, 4])
print(np.sum(array))  # Output: nan

nan